.titulo{
    text-align: center;
    margin-top: 2%;
    font-size: 3rem;
}
.juego{
    background-color: black;
    color: aliceblue;
    height: 15rem;
    width: 15rem;
    cursor: pointer;
}
.col-sm{
    margin: 1%;
}
.container{
    max-width: 1380px;
}
@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
        margin-left: 16%;
    }
}