<div class="titulo">
    <span>Games</span>
</div>

<div class="dato">
    <span>Ingrese un apodo</span>
    <input type="text" [(ngModel)]="apodo">
</div>

<div class="container table-wrapper-scroll-y">
    <span *ngFor="let juego of juegos">
      <button class="col-sm juego" (click)="jugar(juego)">
        <span id="nom{{juego}}">{{juego}}</span><span id="sp{{juego}}" class=""></span>
      </button>
    </span>
    <!--<div class="row">
      <div *ngFor="let juego of juegos" class="col-sm juego" (click)="jugar(juego)">
        <span id="nom{{juego}}">{{juego}}</span><span id="sp{{juego}}" class=""></span>
      </div>
      <div class="col-sm juego" (click)="juego('BatallaNaval')">
        <span id="nomBatallaNaval">BatallaNaval</span><span id="spBatallaNaval" class="spinner-border"></span>
      </div>
      <div class="col-sm juego">
        Soon!
      </div>
      <div class="col-sm juego">
        Soon!
      </div>
      <div class="col-sm juego">
        Soon!
      </div>
    </div>-->
</div>